<h1 class="center-align">Hello <%= @first_name %></h1>

  <ul class="collection">
  <% @output.each do |consult| %>
    <li class="collection-item avatar z-depth-4">
    <i class="material-icons circle">description</i>
    <span>Visit ID: <%= consult.id %></span>
    <p><%= link_to consult.created_at, consult_path(consult) %></p>
    </li>
    <% end %>
  </ul>

  <br>

  <%= link_to 'Back', root_path %>