body {
    background-image: url('http://www.veritasbio.com/dental%20implants/cms/resources/MHTC-Malaysia-background-about-01.jpg');
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#brand-logo {
    margin-left: 15px;
    // font-weight: bold;
    font-size: 188%;
    font-family: 'PT Sans', sans-serif;
}

.dashboard-title {
  margin: 0;
  padding-bottom: 8px;
}

.queue-section {
  background-color: #B2DFDB;
  padding-top: 20px;
  padding-bottom: 20px;
}

.patient-dashboard-section {
  padding-top: 20px;
  padding-bottom: 20px;
}

// a {
//   color: black !important;
// }

.flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%
}
