<h1 class="center-align">Hello Patient</h1>

  <table class="highlight">
    <thead>
      <tr>
        <th>Visit ID</th>
        <th>Consultation</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @consults.each do |consult| %>
        <tr>
          <td><%= consult.id %></td>
          <td><%= consult.history %></td>
          <td><%= link_to 'Show', consult_path(consult) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>